*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
div{
    background: cadetblue;
    font-size: 2.5rem;
}
/* div h1{
    font-size: 2.4rem;
    height: 50vh;
} */

@media (min-width:500px) and (max-width:1025px) {
    
    div{
        background-color: chartreuse;
        font-size: calc(1.5rem + 2vw);
    }
    
}