.flag{
  height: 50px;
}

.single-country{
  border: 2px solid slateblue;
  border-radius: 10px;
  display: block;
  padding: 20px;
  width: 300px;
  text-align: center;

}

#country-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;

}

#country-details{
  border: 2px solid tomato;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
}
#country-details img{
  height: 300px;
}